.contact-container{
    width: 100%;
    height: 100%;
    background-color: #00000050;
    padding: 2rem 3rem;
    .contact-form{      
        padding: 3rem 2rem;
        margin: 0 auto
    }
}
@media(max-width: 600px){
    .contact-container{
        padding: 1rem 1rem;
        .contact-form{      
            padding: 1rem 0;
        }
    }
}