.greetings{
    color: #d2d42c;
    text-align: center;
    width: 250px;
    align-self: center;
}


.login-register{
    color: #d2d42c!important;
}
.login-register:hover{
    color: lighten(#d2d42c, 20)!important;
}