.wrapper {
  min-height: calc(100vh - 30px);
  overflow: hidden;

  .main{
    // max-width: 100%;
    margin-top: 1rem;
    max-width: 80%;
    color: #fff;
    .main-row{
      margin: 0 auto;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  // .main::after{
  //   z-index: -11;
  //   content: "";
  //   position: absolute;
  //   background-image: url("./images/banner2.jpg");
  //   background-size: cover;
  //   background-attachment: fixed;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  // }
  // .main::before{
  //   z-index: -10;
  //   content: "";
  //   position: absolute;
  //   background-color: #00000020;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  // }
}
.footer {
  height: 50px;
}
.loading{
  height: calc(100vh - 130px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}