.wrapper {
  min-height: calc(100vh - 30px);
  overflow: hidden;
  background-color: lighten(#343a40,20);
  background-image: url("./images/banner2.jpg");
  background-size: cover;
  background-attachment: fixed;
  .main{
    max-width: 80%;
    color: #fff;
    .main-row{
      margin: 0 auto;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.footer {
  height: 50px;
}
.loading{
  height: calc(100vh - 130px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}