.wrapper {
  min-height: calc(100vh - 50px);
  .main{
    padding: 2rem 0;
  }
}
.footer {
  height: 50px;
}
.loading{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}